<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/" xmlns:v-on="http://www.w3.org/1999/xhtml">

<div id="contractModal" class="modal fade" tabindex="-1" role="dialog"  th:fragment="contractModal"  >
    <div class="modal-dialog modal-lg" role="document" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="closeHandler"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">자산 정보 수정</h4>
            </div>
            <div class="modal-body">
                <form id="contractModalForm" >
                    <div class="col-sm-12">
                        <div class="form-group row row-center text-center">
                            <label class="col-sm-2 col-form-label">자산ID</label>
                            <div class="col-sm-5">
                                <label class="sr-only" for="modalItemId">superCate</label>
                                <input disabled type="text" class="form-control" id="modalItemId" placeholder="자산ID" v-model="selectedContract.id">
                            </div>
                            <label class="col-sm-2 col-form-label">자산이름</label>
                            <div class="col-sm-5">
                                <label class="sr-only" for="CategoryModalName">superCate</label>
                                <input type="text" class="form-control" id="CategoryModalName" placeholder="자산이름" v-model="selectedContract.name">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group row row-center text-center">
                            <label class="col-sm-2 col-form-label">등록일</label>
                            <div class="col-sm-5">
                                <input  type="text" id="modalRegisterDate" class="form-control col-sm-3" placeholder="등록일" v-model="selectedContract.registerDate">
                            </div>

                            <label class="col-sm-2 col-form-label">만료일</label>
                            <div class="col-sm-5">
                                <input type="text" id="modalExpireDate" class="form-control col-sm-3" placeholder="만료일" v-model="selectedContract.expireDate" >
                            </div>
                        </div>
                    </div>



                    <div class="form-group row row-center text-center">
                        <label class="col-sm-2 col-form-label">분류정보</label>
                        <div class="col-sm-12">
                            <div class="form-group row row-center text-center">
                                <label for="superCate" class="col-sm-2">대분류</label>
                                <div class="input-group col-sm-10">
                                    <div class="col-sm-5 pr-0">
                                        <input v-if="!selectCate01.includes(superCate)&&subCateSecond!=''" disabled type="text" class="form-control"  v-model="superCate">
                                        <select v-else class="form-control" v-model="superCate" v-on:change="handleCate01">
                                            <option value="">선택</option>
                                            <option v-for="category in selectCate01" >{{category}}</option>
                                        </select>
                                    </div><!-- /input-group -->

                                    <div class="col-sm-7 pl-0">
                                        <input type="text" class="form-control" id="superCate" placeholder="대분류" v-model="superCate">
                                    </div><!-- /input-group -->

                                </div>
                            </div>

                            <div class="form-group row row-center text-center">
                                <label for="subCateFirst" class="col-sm-2">소분류 1</label>
                                <div class="input-group col-sm-10">
                                    <div class="col-sm-5 pr-0">
                                        <input v-if="!selectCate02.includes(subCateFirst)&&subCateSecond!=''" disabled type="text" class="form-control"  v-model="subCateFirst">
                                        <select v-else class="form-control" v-model="subCateFirst" v-on:change="handleCate02">
                                            <option value="">선택</option>
                                            <option v-for="category in selectCate02" >{{category}}</option>
                                        </select>
                                    </div><!-- /input-group -->

                                    <div class="col-sm-7 pl-0">
                                        <input type="text" class="form-control" id="subCateFirst" placeholder="소분류 1" v-model="subCateFirst">
                                    </div><!-- /input-group -->

                                </div>
                            </div>

                            <div class="form-group row row-center text-center">
                                <label for="subCateSecond" class="col-sm-2">소분류 2</label>
                                <div class="input-group col-sm-10">
                                    <div class="col-sm-5 pr-0">
                                        <input v-if="!selectCate03.includes(subCateSecond)&&subCateSecond!=''" disabled type="text" class="form-control"  v-model="subCateSecond">
                                        <select v-else class="form-control" v-model="subCateSecond" >
                                            <option value="">선택</option>
                                            ]                                                       <option v-for="category in selectCate03" >{{category}}</option>
                                        </select>
                                    </div><!-- /input-group -->

                                    <div class="col-sm-7 pl-0">
                                        <input type="text" class="form-control" id="subCateSecond" placeholder="소분류 2" v-model="subCateSecond">
                                    </div><!-- /input-group -->

                                </div>
                            </div>

                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" v-on:click="updateItem( window.updateUser)" >Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="closeHandler">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</html>

