<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">


<aside class="main-sidebar" th:fragment="sideMenu">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-share"></i> <span>HOME</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                     </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="#"><i class="fa fa-circle-o"></i>대시보드</a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-share"></i> <span>계약서</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                     </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i>계약서 수정</a></li>

                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-share"></i> <span>회원정보</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                     </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="#"><i class="fa fa-circle-o"></i>내 정보 조회</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-circle-o"></i>내 정보 수정</a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-share"></i> <span>관리자</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                     </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i>사용자 추가</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i>계약서 종류 관리</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i>부서/팀 관리</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i>직위 관리</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i>계약서 권한 관리1</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i>계약서 권한 관리2</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i>권한 문의</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-share"></i> <span>TEST</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                     </span>
                </a>
                <ul class="treeview-menu">

                </ul>
            </li>

        </ul>
        </li>
        </ul>
    </section>
</aside>


</html>