<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">


<aside class="main-sidebar" th:fragment="sideMenu">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree" data-api="tree" data-accordion=0>
            <li class="treeview" >
                <a href="#">
                    <i class="fa fa-share"></i> <span>HOME</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                     </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="/pages/dashboard"><i class="fa fa-circle-o"></i>대시보드</a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-share"></i> <span>계약서</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                     </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/pages/contract"><i class="fa fa-circle-o"></i>계약서 관리</a></li>
                    <li><a href="/pages/contract/contractUpdate"><i class="fa fa-circle-o"></i>계약서 수정</a></li>

                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-share"></i> <span>내 정보</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                     </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/pages/user/myInfo"><i class="fa fa-circle-o"></i>내 정보 조회</a></li>
                    <li><a href="/pages/user/myInfo/edit"><i class="fa fa-circle-o"></i>내 정보 수정</a></li>
                </ul>
            </li>
            <li class="treeview" >
                <a href="/pages/authInquire">
                    <i class="fa fa-share"></i> <span>권한 문의</span>
                    <span class="pull-right-container">

                     </span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-share"></i> <span>관리자</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                     </span>
                </a>
                <ul class="treeview-menu">
                    <li class="treeview">
                        <a href="#"><i class="fa fa-circle-o"></i>사용자
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/pages/user/admin/add"><i class="fa fa-circle-o"></i>사용자 추가</a></li>
                            <li><a href="/pages/user"><i class="fa fa-circle-o"></i>사용자 관리</a></li>
                            <li><a href="/pages/department"><i class="fa fa-circle-o"></i>부서/팀관리</a></li>
                            <li><a href="/pages/rank"><i class="fa fa-circle-o"></i>직위 관리</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#"><i class="fa fa-circle-o"></i>계약서 권한
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/pages/auth"><i class="fa fa-circle-o"></i>계약서 권한관리</a></li>
<!--                            <li><a href="/pages/authuser"><i class="fa fa-circle-o"></i>계약서 권한수정</a></li>-->
                        </ul>
                    </li>
                    <li><a href="/pages/contract/contractType"><i class="fa fa-circle-o"></i>계약서 타입</a></li>
                </ul>
            </li>
        </ul>

    </section>

</aside>


</html>