<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/" xmlns:v-on="http://www.w3.org/1999/xhtml">

<div id="userPasswordEditModal" class="modal fade" tabindex="-1" role="dialog"  th:fragment="userPasswordEditModal">
    <div class="modal-dialog modal-lg" role="document" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="closeHandler"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">비밀번호 변경</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form id="itemModalForm" >
                        <div class="col-sm-12">
                            <div class="form-group row row-center">
                                <div class="col-sm-6">
                                    <label class="col-sm-4 col-form-label">기존 비밀번호</label>
                                    <div class="col-sm-8">
                                        <label class="sr-only" for="originPassword"></label>
                                        <input type="password" class="form-control text-center" id="originPassword" v-model="password.originPassword">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label class="col-sm-4 col-form-label">새 비밀번호</label>
                                    <div class="col-sm-8">
                                        <label class="sr-only" for="newPassword"></label>
                                        <input type="password" class="form-control text-center" id="newPassword" v-model="password.newPassword">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group row row-center">
                                <div class="col-sm-6">
                                    <label class="col-sm-4 col-form-label">새 비밀번호 확인</label>
                                    <div class="col-sm-8">
                                        <label class="sr-only" for="reNewPassword"></label>
                                        <input type="password" class="form-control text-center" id="reNewPassword" v-model="password.reNewPassword">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer" style="text-align: center">
                <button type="button" class="btn btn-primary" v-on:click="updatePasswordHandler">확인</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="closeHandler">닫기</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</html>

