<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:text-decoration="http://www.w3.org/1999/xhtml">

<!--      xmlns:th="http://www.thymeleaf.org/" -->
<!-- head Start-->
<div th:replace="fragment/head :: head"></div>
<!-- head End-->


<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">


    <!-- HEADER Start -->
    <div th:replace="fragment/headerTitle :: headerTitle"></div>
    <!-- HEADER End -->

    <!-- Side Menu Start -->
    <div th:replace="fragment/sideMenu :: sideMenu"></div>
    <!-- Side Menu End -->


    <!-- Contents-->
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                권한 조회
                <small>조회</small>
            </h1>

        </section>

        <section class="content">

            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">권한 상세 조회</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <!--                            <form id="queryConditions">-->
                            <form>
                                <div class="col-sm-12">
                                    <div class="form-group row row-center text-center">
                                        <label class="col-sm-1 col-form-label">계약서 번호</label>
                                        <div class="col-sm-2">
                                            <label class="sr-only" for="contractNum"></label>
                                            <input type="text" class="form-control" id="contractNum"
                                                   placeholder="계약서 번호">
                                        </div>
                                        <label class="col-sm-1 col-form-label">계약서 종류</label>
                                        <div class="col-sm-2">
                                            <select id="contractTypeList" class="form-control">
                                                <option value="">선택</option>
                                                <option v-for="contractType in list" >{{contractType.type}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row row-center text-center">
                                        <label class="col-sm-1 col-form-label">부서/팀</label>
                                        <div class="col-sm-4">
                                            <select id="departmentList" class="form-control" >
                                                <option value="">선택</option>
                                                <option v-for="dept in list">{{dept.department}}</option>

                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <select id="teamList" class="form-control">
                                                <option value="">선택</option>
                                                <option v-for="team in list">{{team.team}}</option>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="form-group row row-center text-center">
                                        <label class="col-sm-1 col-form-label">검색</label>
                                        <div class="col-sm-5">
                                            <label class="sr-only" for="search"></label>
                                            <input type="text" class="form-control" id="search" placeholder="검색">
                                        </div>
                                    </div>

                                    <div class="row text-center">
                                        <button id=searchBtn type="button" class="btn btn-sm btn-primary dark"> 조회
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div id="items_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <!--                                        <table id="items_table"-->
                                        <table
                                                class="table table-bordered table-hover dataTable font-14"
                                                role="grid" aria-describedby="example2_info">
                                            <thead>
                                            <tr role="row">
                                                <th class="text-center bg-dark-blue-gradient" tabindex="0" rowspan="1"
                                                    colspan="1">
                                                    번호
                                                </th>
                                                <th class="text-center bg-dark-blue-gradient" tabindex="0" rowspan="1"
                                                    colspan="1">
                                                    계약서 번호
                                                </th>
                                                <th class="text-center bg-dark-blue-gradient" tabindex="0" rowspan="1"
                                                    colspan="1">
                                                    계약서 명
                                                </th>
                                                <th class="text-center bg-dark-blue-gradient" tabindex="0" rowspan="1"
                                                    colspan="1">
                                                    계약서 종류
                                                </th>
                                                <th class="text-center bg-dark-blue-gradient" tabindex="0" rowspan="1"
                                                    colspan="1">
                                                    담당자
                                                </th>
                                                <th class="text-center bg-dark-blue-gradient" tabindex="0" rowspan="1"
                                                    colspan="1">
                                                    갑
                                                </th>
                                                <th class="text-center bg-dark-blue-gradient" tabindex="0" rowspan="1"
                                                    colspan="1">
                                                    을
                                                </th>
                                                <th class="text-center bg-dark-blue-gradient" tabindex="0" rowspan="1"
                                                    colspan="1">
                                                    권한 수정
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody id="itemList">
                                            <tr role="row" class="odd" v-for="item in list">
                                                <td class="text-center">{{item.idx}}</td>
                                                <td class="text-center">{{item.code}}</td>
                                                <td class="text-center">{{item.name}}</td>
                                                <td class="text-center">{{item.contract_type_idx}}</td>
                                                <td class="text-center">{{item.user_code}}</td>
                                                <td class="text-center">{{item.owner_name}}</td>
                                                <td class="text-center">{{item.other_name}}</td>
                                                <td class="text-center">
                                                    <button type="button" name="modifyBtn" v-on:click="btn(item)"
                                                            class="btn btn-danger btn-xs">수정
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="row">
                                    <div id="showPage" class="col-sm-6">
                                        <span class="dataTables_info" role="status" aria-live="polite">
                                            Showing {{currentPage}} to 10 of {{totalElements}} entries
                                        </span>
                                        <!--                                        <span v-if="selectedElements != 0">-->
                                        <!--                                            / selected item(s) {{selectedElements}}-->
                                        <!--                                        </span>-->

                                    </div>
                                </div>
                                <div class="row text-center col-sm-12">
                                    <div class="dataTables_paginate paging_simple_numbers" id="pageBtn">
                                        <ul class="pagination">
                                            <li class="paginate_button previous" id="previousBtn">
                                                <a href="javascript:;" v-on:click="previousClick">이전</a>
                                            </li>

                                            <li class="paginate_button" v-for="btn in btnList" v-bind:btn_id="btn"
                                                v-on:click="indexClick">
                                                <a href="javascript:;" aria-controls="example2"
                                                   v-bind:btn_id="btn">{{btn}}</a>
                                            </li>

                                            <li class="paginate_button next" id="nextBtn">
                                                <a href="javascript:;" v-on:click="nextClick">다음</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>

    </section>
</div>
<!-- Content End -->

<!-- Footer Start -->
<div th:replace="fragment/footer :: footer"></div>
<!-- Footer End -->

<!-- controlSidebar Start -->
<div th:replace="fragment/controlSidebar :: controlSidebar"></div>
<!-- controlSidebar End -->


<div class="control-sidebar-bg"></div>
</div>


<script src="/app/authuserPage.js"></script>
</body>
</html>