<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:float="http://www.w3.org/1999/xhtml"
      xmlns:list-style="http://www.w3.org/1999/xhtml" xmlns:display="http://www.w3.org/1999/xhtml"
      xmlns:background="http://www.w3.org/1999/xhtml">
<style>
    div.left {
        width: 50%;
        float: left;
        box-sizing: border-box;
    }

    div.right {
        width: 50%;
        float: right;
        box-sizing: border-box;

    }

    btn {
        line-height: initial;
        align: right;
        position: absolute;

    }

    ul li {
        display: inline;
        outline: 1px;
        margin-left: 10px;
    }
</style>


<!-- head Start-->
<div th:replace="fragment/head :: head"></div>
<!-- head End-->


<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">


    <!--    HEADER Start &ndash;&gt;-->
    <div th:replace="fragment/headerTitle :: headerTitle"></div>
    <!-- HEADER End -->

    <!-- Side Menu Start -->
    <div th:replace="fragment/sideMenu :: sideMenu"></div>
    <!-- Side Menu End -->

    <!-- Contents-->
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                계약서 권한 관리
            </h1>
            <ol class="breadcrumb">
            </ol>
        </section>

        <section class="content">

            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body" >
                            <form class="example-form"  >
                                <div class="row">
                                    <div id="itemList" class="col-xs-3">
                                        <div >
                                            <label>계약서 ID</label>
                                        </div>
                                        <div>2</div>
                                        <!--                                        <div v-for="itemList in list">{{itemList.idx}}</div>-->
                                        <table border="1"></table>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>계약서 명</label>
                                        <div>name</div>
                                        <!--                                        <div>{{item.name}}</div>-->
                                        <table border="1"></table>
                                    </div>
                                    <div class="col-xs-3">
                                        <div>
                                            <label>계약서 종류</label>
                                        </div>
                                        <!--                                        <div>{{item.contractTypeIdx}}</div>-->
                                        <div>계약서 타입 3</div>
                                        <table border="1"></table>
                                    </div>
                                    <div class="col-xs-3">
                                        <div>
                                            <label>담당자</label>
                                        </div>
                                        <div>test1</div>
                                        <!--                                        <div>{{item.useridx}}</div>-->
                                        <table border="1"></table>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="left">
                            <div>
                                </br>
                                <label>
                                    <열람 권한>
                                </label>
                            </div>
                            <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                <div class="row">
                                    <div class="col-sm-6"></div>
                                    <div class="col-sm-6"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="example1" class="table table-bordered table-hover dataTable"
                                               role="grid" aria-describedby="example1_info">
                                            <!--                                            <tbody id="userList">-->
                                            <br>
                                            <tr role="row">
                                                <div>
                                                    <label >부서/팀 :</label>
                                                    &emsp;
                                                    <select  class="deptList form-control margin-bottom">
                                                        <option value="">선택</option>
                                                        <option>개발부</option>
                                                        <option>인사부</option>
                                                        <!--                                                        <option>법무부</option>-->
                                                        <!--                                                        <option v-for="dept in list">{{dept.department}}</option>-->

                                                    </select>

                                                    &nbsp; &nbsp;
                                                    <button style='width:auto; height:auto;' id="addDept"
                                                            type="submit"
                                                            class="btn btn-primary bg-light-blue-gradient margin-bottom">
                                                        추가
                                                    </button>

                                                </div>
                                                <div >
                                                    <li id="authDeptList">부서 : 법무부, </li>
                                                    <!--                                                    <li v-for="authDept in list" display:block; background:#000; float:left;-->
                                                    <!--                                                        list-style:none;-->
                                                    <!--                                                    >{{authDept.departmentidx}}-->
                                                    <!--                                                    </li>-->

                                                </div>
                                                <br>
                                            </tr>

                                            <tr role="row">
                                                <div>
                                                    <label>팀 :</label>
                                                    &emsp;
                                                    <select class="deptList form-control margin-bottom" name="부서">
                                                        <option value="">선택</option>
                                                        <!--                                                        <option v-for="dept in list">{{dept.department}}</option>-->
                                                        <option>개발부</option>
                                                        <option>인사부</option>
                                                        <option>법무부</option>
                                                    </select>
                                                    &nbsp;
                                                    <select  class="teamList form-control margin-bottom">
                                                        <option value="">선택</option>
                                                        <option>개발1팀</option>
                                                        <option>개발2팀</option>
                                                        <!--                                                        <option v-for="team in list">{{team.team}}</option>-->
                                                    </select>
                                                    &nbsp;&nbsp; &nbsp;
                                                    <button id="addTeam" type="submit"
                                                            class="btn btn-primary bg-light-blue-gradient margin-bottom">
                                                        추가
                                                    </button>
                                                </div>
                                                <div >
                                                    <li id="authTeamList">팀 : 법무 1팀, 법무 2팀, </li>
                                                    <!--                                                    <li v-for="authTeam in list" display:block; background:#000; float:left;-->
                                                    <!--                                                        list-style:none;-->
                                                    <!--                                                    >{{authTeam.teamidx}}-->
                                                    <!--                                                    </li>-->

                                                </div>
                                                <br>
                                            </tr>

                                            <tr role="row">
                                                <div>
                                                    <label>개인 :</label>
                                                    &emsp;
                                                    <select class="deptList form-control margin-bottom" name="부서">
                                                        <option value="">선택</option>
                                                        <option>개발부</option>
                                                        <option>인사부</option>
                                                        <option>법무부</option>
                                                        <!--                                                        <option v-for="dept in list">{{dept.department}}</option>-->
                                                        <!--                                                        <option>{{개발팀}}</option>-->
                                                    </select>
                                                    <!--                                                    <select name="부서">-->
                                                    <!--                                                        <option>{{개발팀}}</option>-->
                                                    <!--                                                    </select>-->
                                                    &nbsp;
                                                    <select  class="teamList form-control margin-bottom">
                                                        <option value="">선택</option>
                                                        <option>개발1팀</option>
                                                        <option>개발2팀</option>
                                                        <!--                                                        <option v-for="team in list">{{team.team}}</option>-->
                                                    </select>
                                                    <!--                                                    <select name="팀">-->
                                                    <!--                                                        <option>{{개발1팀}}</option>-->
                                                    <!--                                                    </select>-->
                                                    &nbsp;
                                                    <select  class="userList form-control margin-bottom">
                                                        <option value="">선택</option>
                                                        <option>3030</option>
                                                        <option>khs</option>
                                                    </select>
                                                    &nbsp;&nbsp; &nbsp;
                                                    <button id="addPerson" type="submit"
                                                            class="btn btn-primary bg-light-blue-gradient margin-bottom">
                                                        추가
                                                    </button>
                                                </div>
                                                <div >
                                                    <li id="authUserList">사용자 : 남상우, </li>
                                                    <!--                                                    <li v-for="authuser in list" display:block; background:#000; float:left;-->
                                                    <!--                                                        list-style:none;-->
                                                    <!--                                                    >{{authuser.useridx}}-->
                                                    <!--                                                    </li>-->

                                                </div>
                                                <br>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="right">
                            <div>
                                </br>
                                <label>
                                    <수정 권한>
                                </label>
                            </div>
                            <br>
                            <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                <div class="row">
                                    <div class="col-sm-6"></div>
                                    <div class="col-sm-6"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="example2" class="table table-bordered table-hover dataTable"
                                               role="grid" aria-describedby="example2_info">

                                            <tr role="row">
                                                <div>
                                                    <label>부서/팀 :</label>
                                                    &emsp;
                                                    <select class="deptMList form-control margin-bottom">
                                                        <option value="">선택</option>
                                                        <option>개발부</option>
                                                        <option>인사부</option>
                                                        <option>법무부</option>
                                                        <!--                                                        <option v-for="dept in list">{{dept.department}}</option>-->
                                                    </select>
                                                    <!--                                                    <select name="부서">-->
                                                    <!--                                                        <option value="개발팀">개발팀</option>-->
                                                    <!--                                                    </select>-->
                                                    &nbsp;&nbsp;&nbsp; &nbsp;
                                                    <button id="addMDept" type="submit"
                                                            class="btn btn-primary bg-light-blue-gradient margin-bottom">
                                                        추가
                                                    </button>
                                                </div>
                                                <div >
                                                    <li id="authDeptListM">부서 : 법무부, </li>
                                                    <!--                                                    <li v-for="authDept in list" display:block; background:#000; float:left;-->
                                                    <!--                                                        list-style:none;-->
                                                    <!--                                                    >{{authDept.departmentidx}}-->
                                                    <!--                                                    </li>-->

                                                </div>
                                                <br>
                                            </tr>
                                            <tr>
                                                <div>
                                                    <label>팀 :</label>
                                                    &emsp;
                                                    <select name="부서" class="form-control margin-bottom">
                                                        <option value="">선택</option>
                                                        <option>개발부</option>
                                                        <option>인사부</option>
                                                        <option>법무부</option>
                                                        <!--                                                        <option value="개발팀">개발팀</option>-->
                                                    </select>
                                                    &nbsp;
                                                    <select name="팀" class="teamMList form-control margin-bottom">
                                                        <option value="">선택</option>
                                                        <option>개발1팀</option>
                                                        <option>개발2팀</option>
                                                        <!--                                                        <option value="개발1팀">개발1팀</option>-->
                                                    </select>
                                                    &nbsp;&nbsp; &nbsp;
                                                    <button id="addMTeam" type="submit"
                                                            class="btn btn-primary bg-light-blue-gradient margin-bottom">
                                                        추가
                                                    </button>
                                                </div>
                                                <div >
                                                    <li id="authTeamListM">팀 : 법무 1팀, 법무 2팀, </li>
                                                    <!--                                                    <li v-for="authTeam in list" display:block; background:#000; float:left;-->
                                                    <!--                                                        list-style:none;-->
                                                    <!--                                                    >{{authTeam.teamidx}}-->
                                                    <!--                                                    </li>-->

                                                </div>
                                                <br>
                                            </tr>
                                            <tr>
                                                <div>
                                                    <label>개인 :</label>
                                                    &emsp;
                                                    <select name="부서" class="form-control margin-bottom">
                                                        <option value="">선택</option>
                                                        <option>개발부</option>
                                                        <option>인사부</option>
                                                        <option>법무부</option>
                                                    </select>
                                                    &nbsp;
                                                    <select name="팀" class="form-control margin-bottom">
                                                        <option value="">선택</option>
                                                        <option>개발1팀</option>
                                                        <option>개발2팀</option>
                                                    </select>
                                                    &nbsp;
                                                    <select name="이름" class="userMList form-control margin-bottom">
                                                        <option value="">선택</option>
                                                        <option>3030</option>
                                                        <option>khs</option>
                                                    </select>
                                                    &nbsp;&nbsp; &nbsp;
                                                    <button id="addMPerson" type="submit"
                                                            class="btn btn-primary bg-light-blue-gradient margin-bottom">
                                                        추가
                                                    </button>
                                                </div>
                                                <div >
                                                    <li id="authUserListM">사용자 : 남상우, </li>
                                                    <!--                                                    <li v-for="authuser in list" display:block; background:#000; float:left;-->
                                                    <!--                                                        list-style:none;-->
                                                    <!--                                                    >{{authuser.useridx}}-->
                                                    <!--                                                    </li>-->

                                                </div>
                                            </tr>



                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <p>
            <div class="pull-right" style="text-align: center;">
                <button id="saveBtn" type="button" class="btn btn-primary bg-light-blue-gradient " onclick="location.href='/pages/auth'"
                >확인
                </button>

            </div>
            </p>
        </section>

    </div>

    <!-- Content End -->

    <!-- Footer Start -->
    <div th:replace="fragment/footer :: footer"></div>
    <!-- Footer End -->

    <!-- controlSidebar Start -->
    <div th:replace="fragment/controlSidebar :: controlSidebar"></div>
    <!-- controlSidebar End -->


    <div class="control-sidebar-bg"></div>
</div>


<script src="/app/authuserPageDetail.js"></script>
</body>
</html>