<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">

<!-- head Start-->
<div th:replace="fragment/head :: head"></div>
<!-- head End-->


<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">


    <!-- HEADER Start -->
    <div th:replace="fragment/headerTitle :: headerTitle"></div>
    <!-- HEADER End -->

    <!-- Side Menu Start -->
    <div th:replace="fragment/sideMenu :: sideMenu"></div>
    <!-- Side Menu End -->

    <!-- Contents-->
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                대시보드
                <small>조회</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">대시보드</a></li>
                <li class="active">조회</li>
            </ol>
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-red">
                            <div class="inner">
                                <h3>65건</h3>
                                <p>만료예정</p>
                            </div>
                            <div class="icon">
                                <ion-icon name="warning-outline" style="margin-top: 10px"></ion-icon>
                            </div>
                            <a href="#" class="small-box-footer">조회하기</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <!-- DONUT CHART -->
                        <div class="box box-primary">
                            <div class="box-header">
                                <h3 class="box-title">전체 계약 현황</h3>
                            </div>
                            <div class="box-body">
                                <canvas id="totalContractChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col (LEFT) -->
                    <div class="col-md-6">
                        <!-- STACKED BAR CHART -->
                        <div class="box box-info">
                            <div class="box-header">
                                <h3 class="box-title">월별 계약 현황</h3>
                            </div>
                            <div class="box-body">
                                <div class="chart">
                                    <canvas id="monthlyContractChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <!-- STACKED BAR CHART -->
                        <div class="box box-success">
                            <div class="box-header">
                                <h3 class="box-title">부서별 계약 현황</h3>
                            </div>
                            <div class="box-body">
                                <div class="chart">
                                    <canvas id="departmentContractChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
    </div>
    <!-- Content End -->
    <!-- Footer Start -->
    <div th:replace="fragment/footer :: footer"></div>
    <!-- Footer End -->

    <!-- controlSidebar Start -->
    <div th:replace="fragment/controlSidebar :: controlSidebar"></div>
    <!-- controlSidebar End -->

    <div class="control-sidebar-bg"></div>
</div>
<script src="/app/dashboard.js"></script>
</body>
</html>