<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<!-- head Start-->
<div th:replace="fragment/head :: head"></div>
<!-- head End-->

<body class="hold-transition register-page">
<div class="register-box">
        <img class = "register-logo"src="/lib/img/logo.png" href="../login/loginPage.html" alt="spigenLogo">
    <div class="register-box-body">
        <p class="mailbox">입력하신 이메일로 문의 결과가 전송됩니다</p>
        <form th:object="${mail}" th:action="@{/pages/inquire}" method="post">
            <div class="form-group">
                <label for="inputEmail">이메일 주소</label>
                <input th:text="${address}" type="email" class="form-control" id="inputEmail" placeholder="name@example.com">
            </div>
            <div class="form-group">
                <label for="inputTitle">제목</label>
                <input  th:text="${title}" type="text" class="form-control" id="inputTitle" placeholder="제목을 입력하세요" >
            </div>
            <div class="form-group">
                <label for="inputText">내용</label>
                <textarea th:text="${content}" class="form-control" id="inputText" rows="10"></textarea>
            </div>
            <div class="row">
                <div class="col-xs-pull-2">
                    <button type="submit" id="sendEmail" class="btn btn-primary btn-block btn-flat">send</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
    <!-- /.form-box -->
</div>
<!-- /.register-box -->
<script src="/app/inquire.js"></script>
</body>
</html>