<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<!--      xmlns:th="http://www.thymeleaf.org/" -->
<!--      xmlns:v-on="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:v-bind="http://www.w3.org/1999/xhtml">-->

<!-- head Start-->
<div th:replace="fragment/head :: head"></div>
<!-- head End-->


<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">


    <!-- HEADER Start -->
    <div th:replace="fragment/headerTitle :: headerTitle"></div>
    <!-- HEADER End -->

    <!-- Side Menu Start -->
    <div th:replace="fragment/sideMenu :: sideMenu(${code},${menuList})"></div>
    <!-- Side Menu End -->


    <!-- Contents-->
    <div class="content-wrapper">
        <section class="content-header">

            <h1>
                내 정보 조회/수정
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>내 정보</a></li>
                <li class="active">조회/수정</li>
            </ol>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-danger">
                        <div class="box-header with-border">
                            <h3 class="box-title"></h3>
                        </div>

                        <!--/.box-header-->
                        <div class="box-body" >
                            <form id="myData">
                                <div class="form-group row row-center ">
                                    <div class="col-xs-3">
                                        <label for="id">사원 번호</label>
                                        <input id="id" type="text" class="form-control" th:placeholder="test1"
                                               th:value="test1" readonly>
                                    </div>
                                    <div class="col-sm-2">
                                    </div>
                                    <div class="col-xs-3">
                                        <label for="inputName">이름</label>
                                        <input th:value="김태훈" th:placeholder="김태훈" type="text" id="inputName"
                                               class="form-control"/>
                                        <!--                                        <input id="name" type="text" class="form-control"-->
                                        <!--                                               th:placeholder="${#user_code}">-->
                                    </div>
                                </div>

                                <div class="form-group row row-center">
                                    <div class="col-xs-3">
                                        <div>
                                            <label>부서/팀</label>
                                        </div>
                                        <select name="부서">
                                            <option id="dept_id" th:value="${#department_idx}" th:text="0"
                                                    selected></option>
                                            <option value="개발팀">개발팀</option>
                                            <option value="법무팀">법무팀</option>
                                        </select>
                                        <select name="팀">
                                            <option id="team_id" th:value="${#department_idx}" th:text="0"
                                                    selected></option>
                                            <option value="개발1팀">개발1팀</option>
                                            <option value="개발2팀">개발2팀</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                    </div>
                                    <div class="col-xs-3">
                                        <div>
                                            <label>직급</label>
                                        </div>
                                        <select name="직급" id="rank">
                                            <option th:value="${rank_idx}" th:text="0" selected></option>
                                            <option value="사원">사원</option>
                                            <option value="대리">대리</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row row-center">
                                    <div class="col-xs-3">
                                        <label for="phone_num">핸드폰 번호</label>
                                        <input id="phone_num" type="text" class="form-control" th:value="${phone_num}"
                                               placeholder="010-1111-1111">
                                    </div>

                                    <div class="col-sm-2">
                                    </div>
                                    <div class="col-xs-3">
                                        <label for="email">E-mail</label>
                                        <input id="email" type="text" class="form-control" th:value="${email}"
                                               placeholder="dev@kakao.com">
                                    </div>
                                </div>
                                <div class="form-group row row-center">
                                    <div class="col-xs-3">
                                        <label for="npwd">변경할 비밀번호</label>
                                        <input id="npwd" type="text" class="form-control" th:value="${pwd}"
                                               placeholder="New PW">
                                    </div>
                                </div>
                                <div>
                                    <button id="updateBtn" class="btn btn-primary pull-right">확인</button>
                                    </button>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

</section>
</div>
<!-- Content End -->

<!-- Footer Start -->
<div th:replace="fragment/footer :: footer"></div>
<!-- Footer End -->

<!-- controlSidebar Start -->
<div th:replace="fragment/controlSidebar :: controlSidebar"></div>
<!-- controlSidebar End -->


<div class="control-sidebar-bg"></div>
</div>


<script src="/app/myInfo.js"></script>
</body>
</html>